In [1]:
import requests
import json
import pandas as pd
from config import api_key
from config import connection_string
from pprint import pprint
import psycopg2
from sqlalchemy import create_engine

In [2]:
url = "http://api.worldweatheronline.com/premium/v1/astronomy.ashx?"
q = "Las Vegas"

blackfridays = ["2013-11-22", "2014-11-28", "2015-11-27", "2016-11-25", "2017-11-24", "2018-11-23"]
christmas_eves = ["2013-12-24", "2014-12-24", "2015-12-24", "2016-12-24", "2017-12-24", "2018-12-24"]
mothers_days = ["2013-05-12", "2014-05-11", "2015-05-10", "2016-05-08", "2017-05-14", "2018-05-13"]
uk_mothers_day = ["2013-03-10", "2014-03-30", "2015-03-15", "2016-03-06", "2017-03-26", "2018-03-11"]
four_20s = ["2013-04-20", "2014-04-20", "2015-04-20", "2016-04-20", "2017-04-20", "2018-04-20"]
valentines_day = ["2013-02-14", "2014-02-14", "2015-02-14", "2016-02-14", "2017-02-14", "2018-02-14"]

dates = blackfridays + christmas_eves + mothers_days + uk_mothers_day + four_20s + valentines_day

In [3]:
date_list = []
moon_cycle = []

In [4]:
for date in dates:
    
    query_url = url + "q=" + q + "&date=" + str(date) + "&format=json" + "&key=" + api_key
    moon_data = requests.get(query_url).json()      
    
    date_list.append(date)
    moon_cycle.append(moon_data['data']['time_zone'][0]['moon_phase'])

In [5]:
moon_dict = {
    "Date" : date_list,
    "Moon Phase": moon_cycle
}

In [16]:
moon_df = pd.DataFrame(moon_dict)

In [17]:
moon_df

          Date       Moon Phase
0   2013-11-22   Waning Gibbous
1   2014-11-28    First Quarter
2   2015-11-27   Waxing Gibbous
3   2016-11-25  Waning Crescent
4   2017-11-24  Waxing Crescent
5   2018-11-23        Full Moon
6   2013-12-24     Last Quarter
7   2014-12-24  Waxing Crescent
8   2015-12-24   Waxing Gibbous
9   2016-12-24  Waning Crescent
10  2017-12-24  Waxing Crescent
11  2018-12-24   Waxing Gibbous
12  2013-05-12  Waxing Crescent
13  2014-05-11   Waxing Gibbous
14  2015-05-10     Last Quarter
15  2016-05-08  Waxing Crescent
16  2017-05-14   Waning Gibbous
17  2018-05-13  Waning Crescent
18  2013-03-10  Waning Crescent
19  2014-03-30         New Moon
20  2015-03-15  Waning Crescent
21  2016-03-06  Waning Crescent
22  2017-03-26         New Moon
23  2018-03-11     Last Quarter
24  2013-04-20   Waxing Gibbous
25  2014-04-20   Waning Gibbous
26  2015-04-20  Waxing Crescent
27  2016-04-20   Waxing Gibbous
28  2017-04-20     Last Quarter
29  2018-04-20  Waxing Crescent
30  2013-02-14  Waxing Crescent
31  2014-02-14        Full Moon
32  2015-02-14  Waning Crescent
33  2016-02-14    First Quarter
34  2017-02-14   Waning Gibbous
35  2018-02-14         New Moon

In [18]:
#use local connection_string from config.py
engine = create_engine(f'postgresql://{connection_string}')

In [19]:
moon_df.to_sql(name='moon_cycles', con=engine, if_exists='append', index=False)

In [22]:
pd.read_sql_query('select * from moon_cycles', con=engine).head(-1)

          Date       Moon Phase
0   2013-11-22   Waning Gibbous
1   2014-11-28    First Quarter
2   2015-11-27   Waxing Gibbous
3   2016-11-25  Waning Crescent
4   2017-11-24  Waxing Crescent
5   2018-11-23        Full Moon
6   2013-12-24     Last Quarter
7   2014-12-24  Waxing Crescent
8   2015-12-24   Waxing Gibbous
9   2016-12-24  Waning Crescent
10  2017-12-24  Waxing Crescent
11  2018-12-24   Waxing Gibbous
12  2013-05-12  Waxing Crescent
13  2014-05-11   Waxing Gibbous
14  2015-05-10     Last Quarter
15  2016-05-08  Waxing Crescent
16  2017-05-14   Waning Gibbous
17  2018-05-13  Waning Crescent
18  2013-03-10  Waning Crescent
19  2014-03-30         New Moon
20  2015-03-15  Waning Crescent
21  2016-03-06  Waning Crescent
22  2017-03-26         New Moon
23  2018-03-11     Last Quarter
24  2013-04-20   Waxing Gibbous
25  2014-04-20   Waning Gibbous
26  2015-04-20  Waxing Crescent
27  2016-04-20   Waxing Gibbous
28  2017-04-20     Last Quarter
29  2018-04-20  Waxing Crescent
30  2013-02-14  Waxing Crescent
31  2014-02-14        Full Moon
32  2015-02-14  Waning Crescent
33  2016-02-14    First Quarter
34  2017-02-14   Waning Gibbous

AttributeError: 'NoneType' object has no attribute 'head'